In [1]:
import pandas as pd
import numpy as np
import re
from datetime import datetime

In [2]:
beacons = pd.read_csv("beacons_dataset.csv", delimiter=';')
beacons.head()

  part_id   ts_date   ts_time     room
0    3089  20170915  06:45:22  Kitchen
1    3089  20170915  06:45:33  Bedroom
2    3089  20170915  06:45:39  Outdoor
3    3089  20170915  06:45:53  Bedroom
4    3089  20170915  06:46:09  Outdoor

In [3]:
beacons.dtypes

part_id    object
ts_date     int64
ts_time    object
room       object
dtype: object

In [4]:
pd.set_option("display.max_columns", None)
beacons

      part_id   ts_date   ts_time         room
0        3089  20170915  06:45:22      Kitchen
1        3089  20170915  06:45:33      Bedroom
2        3089  20170915  06:45:39      Outdoor
3        3089  20170915  06:45:53      Bedroom
4        3089  20170915  06:46:09      Outdoor
...       ...       ...       ...          ...
58628    2138  20181202  17:39:27      Kitchen
58629    2138  20181202  20:09:08      Bedroom
58630    2138  20181202  20:21:52      Kitchen
58631    2138  20181203  06:46:44  Sittingroom
58632    2138  20181205  10:36:16      Kitchen

[58633 rows x 4 columns]

In [5]:
beacons_correct = beacons
beacons_correct.iloc[37].str.isdigit()
beacons_correct["is_partid_num"] = beacons_correct.part_id.str.isdigit()
beacons_correct

      part_id   ts_date   ts_time         room  is_partid_num
0        3089  20170915  06:45:22      Kitchen           True
1        3089  20170915  06:45:33      Bedroom           True
2        3089  20170915  06:45:39      Outdoor           True
3        3089  20170915  06:45:53      Bedroom           True
4        3089  20170915  06:46:09      Outdoor           True
...       ...       ...       ...          ...            ...
58628    2138  20181202  17:39:27      Kitchen           True
58629    2138  20181202  20:09:08      Bedroom           True
58630    2138  20181202  20:21:52      Kitchen           True
58631    2138  20181203  06:46:44  Sittingroom           True
58632    2138  20181205  10:36:16      Kitchen           True

[58633 rows x 5 columns]

In [6]:
beacons_correct = beacons_correct[beacons_correct.is_partid_num == True]
beacons_correct

      part_id   ts_date   ts_time         room  is_partid_num
0        3089  20170915  06:45:22      Kitchen           True
1        3089  20170915  06:45:33      Bedroom           True
2        3089  20170915  06:45:39      Outdoor           True
3        3089  20170915  06:45:53      Bedroom           True
4        3089  20170915  06:46:09      Outdoor           True
...       ...       ...       ...          ...            ...
58628    2138  20181202  17:39:27      Kitchen           True
58629    2138  20181202  20:09:08      Bedroom           True
58630    2138  20181202  20:21:52      Kitchen           True
58631    2138  20181203  06:46:44  Sittingroom           True
58632    2138  20181205  10:36:16      Kitchen           True

[46800 rows x 5 columns]

In [7]:
beacons_correct.drop(["is_partid_num"], axis=1, inplace=True)

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [8]:
beacons_correct.dropna(inplace = True)
beacons_correct.reset_index(inplace=True)
beacons_correct.drop(["index"], axis=1, inplace=True)

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [9]:
beacons_correct.isnull().sum()

part_id    0
ts_date    0
ts_time    0
room       0
dtype: int64

In [10]:
rooms = list(beacons_correct.room.unique())
rooms

['Kitchen',
 'Bedroom',
 'Outdoor',
 'Bathroom',
 'TV',
 'Entrance',
 'Hall',
 'Bathroon',
 'Livingroom',
 'Livingroom2',
 'Livingroom1',
 'Sitingroom',
 'Kitcen',
 'Desk',
 'Leavingroom',
 'Sittingroom',
 'Office',
 'Garage',
 'Sittigroom',
 'Luvingroom1',
 'SittingRoom',
 'LeavingRoom',
 'LivingRoom',
 'DinerRoom',
 'Washroom',
 'DiningRoom',
 'Baghroom',
 'SeatingRoom',
 'LuvingRoom',
 'Bedroom2',
 '2ndRoom',
 'Bedroom1',
 'ExitHall',
 'LivingRoom2',
 'One',
 'Two',
 'three',
 'DinnerRoom',
 'K',
 'T',
 'DinningRoom',
 'Four',
 'Box',
 'Guard',
 'Kithen',
 'Kitchen2',
 'Kitvhen',
 'Liningroom',
 'Storage',
 'SittingOver',
 'Workroom',
 'Pantry',
 'Bsthroom',
 'Bathroim',
 'Livingroon',
 'livingroom',
 'bedroom',
 'kitchen',
 'Garden',
 'Sittinroom',
 'Library',
 'Kichen',
 'Kiychen',
 'Veranda',
 'Bqthroom',
 'Office1',
 'Office2',
 'LaundryRoom',
 'Bedroom1st',
 'Office1st',
 'Bedroom-1',
 'Bathroom-1',
 'Office-2',
 'LivibgRoom',
 'Kitcheb',
 'Living',
 'Box-1',
 'Leavivinroom',
 'Laundry',
 'Bathroom1',
 'Chambre',
 'Dinerroom']

In [11]:
beacons_correct = beacons_correct.replace({r'Ki': 1, r'ki': 1, r'K': 1}, regex= True) # Kitchen
beacons_correct = beacons_correct.replace({r'Lu': 2, r'li': 2, r'Sea': 2, r'Li': 2, r'Le': 2, r'Sit': 2, r'TV': 2, r'T': 2}, regex= True) # Living Room
beacons_correct = beacons_correct.replace({r'Of': 3, r'De': 3, r'Wor': 3}, regex= True) # Office
beacons_correct = beacons_correct.replace({r'Ba': 4, r'Wa': 4, r'Bst': 4, r'Bqt': 4}, regex= True) # Bathroom
beacons_correct = beacons_correct.replace({r'Be': 5, r'be': 5, r'Cham': 5, r'2nd': 5}, regex= True) #Bedroom
beacons_correct = beacons_correct.replace({r'Ver': 6, r'Out': 6, r'Gar': 6, r'Gua': 6}, regex= True) # Outdoor
beacons_correct = beacons_correct.replace({r'Ent': 7, r'Hall': 7}, regex= True) # Hall 
beacons_correct = beacons_correct.replace({r'Din': 8}, regex= True) # Dinning room
beacons_correct = beacons_correct.replace({r'Pant': 9, r'Stor': 9}, regex= True) # Storage
beacons_correct = beacons_correct.replace({r'Laun': 10}, regex= True) # Laundry
beacons_correct = beacons_correct.replace({r'Box': 11}, regex= True) # Box

In [12]:
beacons_correct['room'].unique()

array([1, 5, 6, 4, 2, 7, 3, 8, 'One', 'three', 'Four', 11, 9, 10],
      dtype=object)

In [13]:
replace_dic = {1: 'Kitchen', 2: 'Livingroom', 3: 'Office', 4: 'Bathroom', 5: 'Bedroom', 6: 'Outdoor', 7: 'Hall', 8: 'Dinningroom', 9: 'Storage', 10: 'Laundry', 11: 'Box' }

beacons_correct = beacons_correct.replace(replace_dic)
beacons_correct['room'].unique()

array(['Kitchen', 'Bedroom', 'Outdoor', 'Bathroom', 'Livingroom', 'Hall',
       'Office', 'Dinningroom', 'One', 'three', 'Four', 'Box', 'Storage',
       'Laundry'], dtype=object)

In [14]:
column_names = ['part_id', 'Bedroom', 'Bathroom', 'Kitchen', 'Livingroom']
beacons_room_time = pd.DataFrame(columns = column_names)
beacons_room_time['part_id'] = pd.DataFrame(beacons_correct['part_id'].unique())
beacons_room_time.sort_values('part_id', inplace=True)
beacons_room_time.head(5)

    part_id Bedroom Bathroom Kitchen Livingroom
64     1001     NaN      NaN     NaN        NaN
3      1003     NaN      NaN     NaN        NaN
211    1005     NaN      NaN     NaN        NaN
174    1006     NaN      NaN     NaN        NaN
175    1007     NaN      NaN     NaN        NaN

In [15]:
pd.set_option("display.max_rows", None, "display.max_columns", None)
beacons_correct = beacons_correct.sort_values(by= ['part_id', 'ts_date', 'ts_time'], ignore_index= True)
beacons_correct.head(5)

  part_id   ts_date   ts_time        room
0    1001  20171021  14:45:30     Outdoor
1    1001  20171101  14:07:11  Livingroom
2    1001  20171107  15:37:59  Livingroom
3    1001  20171117  15:52:46  Livingroom
4    1001  20171117  15:52:58    Bathroom

In [16]:
# dict1 = beacons_correct['room'].unique()
# dict1 = dict1[~np.isnan(dict1)]
# dict2 = dict.fromkeys(dict1, 0)
# dict2

In [43]:
i = 1
j = 0

for idx in beacons_room_time['part_id']:
    # create room dictionary
    flag = True
    room_dict = {'Kitchen': 0, 'Livingroom': 0, 'Office': 0, 'Bathroom': 0, 'Bedroom': 0, 'Outdoor': 0, 'Hall': 0, 'Dinningroom': 0, 'Storage': 0, 'Laundry': 0, 'Box': 0, 'One': 0, 'three': 0, 'Four': 0}  
    while flag:
        # compute difference
        if beacons_correct['ts_date'][i-1] == beacons_correct['ts_date'][i] or pd.to_numeric(beacons_correct['ts_date'][i-1]) + 1 == pd.to_numeric(beacons_correct['ts_date'] [i]) : 
            time_dif = abs((datetime.strptime('{} {}'.format(beacons_correct['ts_date'][i] , beacons_correct['ts_time'][i]), '%Y%m%d %H:%M:%S') - datetime.strptime('{} {}'.format(beacons_correct['ts_date'][i-1] , beacons_correct['ts_time'][i-1]), '%Y%m%d %H:%M:%S')).total_seconds())
            room = beacons_correct['room'][i-1]
            room_dict[room] +=  time_dif
        if idx != beacons_correct['part_id'][i]:
            flag = False
            # print(idx, beacons_correct['part_id'][i+1])     
        i = i + 1
        # BREAK WHEN I = 46794
    total_time = sum(room_dict.values())
    #print(total_time)
    
    
    # add % to beacons room time 
    for col in beacons_room_time.loc[:, beacons_room_time.columns != 'part_id']:
        if total_time != 0: 
            beacons_room_time[col[j]] = room_dict[col]/total_time 
    j=j+1

KeyError: 'B'

In [40]:
print(beacons_room_time.head(100))

    part_id   Bedroom  Bathroom   Kitchen  Livingroom
64     1001  0.010611       0.0  0.167921    0.430047
3      1003  0.010611       0.0  0.167921    0.430047
211    1005  0.010611       0.0  0.167921    0.430047
174    1006  0.010611       0.0  0.167921    0.430047
175    1007  0.010611       0.0  0.167921    0.430047
181    1022  0.010611       0.0  0.167921    0.430047
182    1023  0.010611       0.0  0.167921    0.430047
228    1030  0.010611       0.0  0.167921    0.430047
1      1035  0.010611       0.0  0.167921    0.430047
210    1036  0.010611       0.0  0.167921    0.430047
200    1038  0.010611       0.0  0.167921    0.430047
201    1039  0.010611       0.0  0.167921    0.430047
206    1040  0.010611       0.0  0.167921    0.430047
207    1041  0.010611       0.0  0.167921    0.430047
213    1043  0.010611       0.0  0.167921    0.430047
199    1044  0.010611       0.0  0.167921    0.430047
216    1049  0.010611       0.0  0.167921    0.430047
183    1051  0.010611       0.0  0.167921    0.430047
231    1054  0.010611       0.0  0.167921    0.430047
190    1055  0.010611       0.0  0.167921    0.430047
222    1057  0.010611       0.0  0.167921    0.430047
224    1061  0.010611       0.0  0.167921    0.430047
225    1066  0.010611       0.0  0.167921    0.430047
236    1068  0.010611       0.0  0.167921    0.430047
112    1084  0.010611       0.0  0.167921    0.430047
110    1085  0.010611       0.0  0.167921    0.430047
84     1086  0.010611       0.0  0.167921    0.430047
52     1088  0.010611       0.0  0.167921    0.430047
105    1089  0.010611       0.0  0.167921    0.430047
82     1090  0.010611       0.0  0.167921    0.430047
87     1091  0.010611       0.0  0.167921    0.430047
88     1092  0.010611       0.0  0.167921    0.430047
48     1094  0.010611       0.0  0.167921    0.430047
252    1095  0.010611       0.0  0.167921    0.430047
107    1101  0.010611       0.0  0.167921    0.430047
127    1103  0.010611       0.0  0.167921    0.430047
111    1104  0.010611       0.0  0.167921    0.430047
121    1109  0.010611       0.0  0.167921    0.430047
120    1110  0.010611       0.0  0.167921    0.430047
71     1111  0.010611       0.0  0.167921    0.430047
92     1112  0.010611       0.0  0.167921    0.430047
109    1113  0.010611       0.0  0.167921    0.430047
122    1115  0.010611       0.0  0.167921    0.430047
83     1117  0.010611       0.0  0.167921    0.430047
103    1119  0.010611       0.0  0.167921    0.430047
104    1120  0.010611       0.0  0.167921    0.430047
263    1123  0.010611       0.0  0.167921    0.430047
266    1124  0.010611       0.0  0.167921    0.430047
267    1126  0.010611       0.0  0.167921    0.430047
264    1128  0.010611       0.0  0.167921    0.430047
275    1131  0.010611       0.0  0.167921    0.430047
49     1191  0.010611       0.0  0.167921    0.430047
63     1234  0.010611       0.0  0.167921    0.430047
66      124  0.010611       0.0  0.167921    0.430047
106    1507  0.010611       0.0  0.167921    0.430047
189    1508  0.010611       0.0  0.167921    0.430047
76     1509  0.010611       0.0  0.167921    0.430047
220    1510  0.010611       0.0  0.167921    0.430047
217    1514  0.010611       0.0  0.167921    0.430047
70     1515  0.010611       0.0  0.167921    0.430047
188    1518  0.010611       0.0  0.167921    0.430047
219    1525  0.010611       0.0  0.167921    0.430047
24     1526  0.010611       0.0  0.167921    0.430047
250    1529  0.010611       0.0  0.167921    0.430047
249    1548  0.010611       0.0  0.167921    0.430047
251    1558  0.010611       0.0  0.167921    0.430047
95     2005  0.010611       0.0  0.167921    0.430047
93     2006  0.010611       0.0  0.167921    0.430047
126    2012  0.010611       0.0  0.167921    0.430047
116    2013  0.010611       0.0  0.167921    0.430047
99     2014  0.010611       0.0  0.167921    0.430047
129    2016  0.010611       0.0  0.167921    0.430047
91     2017  0.010611       0.0  0.167921    0.430047
133    2020  0.010611       0.0  0.167921    0.430047
117    2021  0.010611       0.0  0.167921    0.430047
158    2022  0.010611       0.0  0.167921    0.430047
143    2024  0.010611       0.0  0.167921    0.430047
142    2025  0.010611       0.0  0.167921    0.430047
147    2026  0.010611       0.0  0.167921    0.430047
96     2027  0.010611       0.0  0.167921    0.430047
113    2029  0.010611       0.0  0.167921    0.430047
169    2030  0.010611       0.0  0.167921    0.430047
153    2032  0.010611       0.0  0.167921    0.430047
168    2033  0.010611       0.0  0.167921    0.430047
119    2035  0.010611       0.0  0.167921    0.430047
136    2036  0.010611       0.0  0.167921    0.430047
125    2037  0.010611       0.0  0.167921    0.430047
139    2038  0.010611       0.0  0.167921    0.430047
123    2039  0.010611       0.0  0.167921    0.430047
163    2040  0.010611       0.0  0.167921    0.430047
124    2042  0.010611       0.0  0.167921    0.430047
130    2043  0.010611       0.0  0.167921    0.430047
128    2044  0.010611       0.0  0.167921    0.430047
176    2047  0.010611       0.0  0.167921    0.430047
161    2048  0.010611       0.0  0.167921    0.430047
170    2049  0.010611       0.0  0.167921    0.430047
171    2050  0.010611       0.0  0.167921    0.430047
138    2051  0.010611       0.0  0.167921    0.430047
137    2053  0.010611       0.0  0.167921    0.430047
177    2054  0.010611       0.0  0.167921    0.430047

In [27]:
beacons_correct.iloc[len(beacons_correct)-1]

part_id           3611
ts_date       20180914
ts_time       07:05:46
room       Dinningroom
Name: 46793, dtype: object

In [30]:
len(beacons_correct)

46794

In [ ]:
timest = beacons_correct["ts_time"]
a = datetime.strptime(timest[0], '%H:%M:%S')
b = datetime.strptime(timest[9], '%H:%M:%S')
c = datetime.strptime(timest[10], '%H:%M:%S')
d = b - a
p = d.total_seconds()
p

121.0

In [ ]:
pd.to_numeric(beacons_correct['ts_date'][1]) + 1

20171102